
@{
    /**/

    ViewBag.Title = "QUIEN ES QUIEN | Administrador";
}
<link rel="stylesheet" type="text/css" href="~/Content/estilo.css" />
<h1>Administrador</h1>

@Html.ActionLink("ABM Categoria de Caracteristica", "ABMCategoriaC", "BackOffice")<br />

@Html.ActionLink("ABM Caracteristica", "ABMCaracteristica", "BackOffice")<br />

@Html.ActionLink("ABM Categoria de Personaje", "ABMCategoriaP", "BackOffice")<br />

@Html.ActionLink("ABM Personaje", "ABMPersonaje", "BackOffice")<br />

