@{
    ViewBag.Title = "QUIEN ES QUIEN | Iniciar Sesión ";
}
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<link rel="stylesheet" type="text/css" href="~/Content/estilo.css" />
<h1>Sobre Nosotros</h1>
<article>
    <p>
        Bienvenido al juego <em>Quien es Quien</em>! Nuestro equipo está conformado por:
        <ul>
            <li>Aldana Allones</li>
            <li>Axel Geslin</li>
            <li>Lisa Natan</li>
            <li>Gonzalo Tujcher</li>
        </ul><br />
        Esperamos que te diviertas jugando al igual que nos divertimos desarrollando!
        Muchas gracias.
    </p>

</article>
