@import url('https://fonts.googleapis.com/css?family=Lobster');
@import url('https://fonts.googleapis.com/css?family=Poppins:400,700,900');

body {
    background-color: white;
}

article {
    padding: 20px 30px;
    background-color: #edd015;
    box-shadow: 4px 4px 4px #aaa;
    border-style: solid;
    border-width: thin;
}

h1 {
    font-family: 'Lobster', cursive;
    text-align: center;
    text-shadow: 4px 4px 4px #aaa;
}

h2 {
    font-family: 'Poppins', sans-serif;
    text-align: center;
    text-shadow: 4px 4px 4px #aaa;
}

p {
    font-family: 'Poppins', sans-serif;
}

.button {
    padding: 20px 30px;
    border: 1px;
    font-size: 8pt;
    font-family: 'Poppins', sans-serif;
    background-color: #06949b;
}

.button:hover {
    padding: 20px 30px;
    border: 1px;
    font-size: 8pt;
    font-family: 'Poppins', sans-serif;
    background-color: #09bec6;
}

table {
    border-spacing: 5px;
}

table, td, th {
    border: 1px solid black;
    border-collapse: collapse;
}

th, td {
    padding: 15px;
}

th {
    text-align: left;
}

LogOut {

   text-align: left;
}